@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Russo One", sans-serif;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

:root {
  --orange: #bb6a01;
  --gradient_blue: linear-gradient(
    to right,
    rgb(3, 147, 214),
    rgb(28, 149, 206),
    rgb(159, 213, 228),
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
  --gradient_hr: linear-gradient(
    to right,
    #ffffff2d,
    #ffffff,
    #ffffff,
    #ffffffa4,
    #ffffff2d
  );
  --gray_bg: #eaeaec;
  --gray_bg2: #a0a0a0;
  --dblue: #195c6b;
  --lblue: #46bbd3;
  --lblue: #195c6b;
  --white: #ffffff;
  --black: #000000;
}

/* THIS APPLIES ON ALL PAGES */

body {
  max-width: 100%;
}

body h1 {
  font-size: 40px;
  color: var(--dblue);
}

body h2 {
  font-size: 26px;
  color: var(--dblue);
}

body h3 {
  font-size: 22px;
  color: var(--dblue);
}

body p {
  font-size: 16px;
  line-height: 25px;
}

body header ul,
body footer ul {
  font-size: 18px;
}

body a {
  font-size: 15px;
}

.highlight {
  font-weight: 800;
  color: var(--dblue);
}

/* SCROLL */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--gray_bg);
}

::-webkit-scrollbar-thumb {
  background: var(--lblue);
}

/* hr */

.hr1 {
  height: 2px;
  width: 75%;
  margin: 4% 0;
  background-image: var(--gradient_hr);
}

/* mobile none*/
.mobile_none {
  display: inline-block;
}
.pc_none {
  display: none;
}


/* navigation */

.btn {
	display: inline-block;
	text-decoration: none;
	background-color: var(--dblue);
	transition: box-shadow .2s ease-out;
}

body header nav {
  background-color: var(--dblue);
}

#menuButtonWrapper {
  height: 80px;
}

#menuButtonWrapper a {
  line-height: 80px;
}

header nav {
  height: 80px;
}

.nav_space {
  justify-content: space-between;
  width: 86vw;
  margin: 0 auto;
}

header nav img {
  height: 80px;
  padding: 0;
}

header nav li.pc_none img {
  height: 50px;
}

header nav ul {
	margin: 0;
  padding: 0;
  height: 80px;
}

header nav ul li {
	display: inline-block;
	list-style-type: none;
  position: relative;
  height: 80px;
}

header  nav  ul  li  a {
	display: inline-block;
	text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  height: 80px;
  line-height: 80px;
  padding: 0 25px;
}

header nav ul.logodiv li a {
  padding: 0;
}

header nav  ul  li  a:hover {
	background-color: var(--orange);
}

header nav ul.logodiv li a:hover {
  background-color: unset;
}

header nav ul li ul {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
  min-width: 220px;
}

header nav ul li ul li {
  background-color: var(--dblue);
}

header nav ul li ul a {
  background-color: var(--dblue);
  padding: 0 10px;
}

header nav ul li:hover ul {
	display: block;
}

header nav ul li ul li {
	list-style-type: none;
	display: block;
}

header nav ul li ul li a {
	display: block;
  padding: 0 10px;
  line-height: 80px;
	text-decoration: none;
	color: #ffffff;
}

header nav ul li ul li a:hover {
	background-color: var(--orange);
}

#menuButtonWrapper,
#menuCloseButtonWrapper {
	display: none;
}

/* hero */

section.hero {
  height: calc(100vh - 80px);
  background-repeat: no-repeat;
  background-size: cover;
}

header .flex section {
  width: 50%;
}

.hero h1,
.hero hr,
.hero p,
.hero .hero_buttons_container {
  margin-left: 7vw;
}

.hero h1 {
  padding-top: 15vw;
  width: 75%;
}

.hero p {
  width: 75%;
  font-size: 30px;
  line-height: 40px;
  color: var(--black);
}

.hero_image img {
  margin: 11vw 0% 0 0;
  padding: 0% 0% 0 0;
  width: 80%;
}

/* buttons in hero */

.hero_buttons_container {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 75%;
}

.hero_buttons_container .button_hero {
  width: 100%;
  text-align: left;
}

.download_cv_button {
  background-color: var(--orange);
  box-shadow: 0px 4px 8px rgba(141, 58, 58, 0.25);
  border-radius: 8px;
  color: var(--white);
  padding: 7% 10%;
}

.cv_btn_hover:hover {
    background-color: var(--dblue);
}

.see_my_projects_button {
  padding: 7% 10%;
  box-shadow: 0px 4px 8px rgba(141, 58, 58, 0.25);
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--orange);
  color: var(--orange);
}

/* arrow in hero*/

.arrow-wrapper {
  margin-top: -80px;
  text-align: center;
}

#arrow-down-pause {
  width: 105px;
  height: 50px;
  animation-name: arrow-nudge-pause;
  color: var(--orange);
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes arrow-nudge-pause {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(20px);
  }
  80% {
    transform: translateY(10px);
  }
  90% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* about me */

.about_me {
  width: 86vw;
  margin: 0 auto;
  max-width: 1500px;
}

.about_me h2 {
  text-align: left;
  padding: 100px 0 50px 0;
  margin-top: 30px;
}

.about_me_info {
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--orange);
}

.about_me_intro {
  padding: 3% 25% 3% 3%;
}

.about_me_intro_two {
  padding: 0% 25% 3% 3%;
}

.about_me .info_list {
  padding: 0% 20% 3% 3%;
}

.about_me .info_item {
  padding: 1% 0;
  margin-bottom: 1%;
  border-radius: 5px;
}

.about_me .info_item .label_container {
  background-color: var(--gray_bg2);
  padding: 1%;
  margin-bottom: 3%;
  border-radius: 5px;
}

.about_me .info_item .left_label {
  color: var(--dblue);
  font-weight: 1000;
}

.about_me_social {
  margin-top: 2%;
}

.about_me_social p {
  margin-bottom: 2%;
}

.about_me_social_icon a {
  color: var(--dblue);
  margin: 15px;
}

/* my skills */

.my_skills {
  width: 86vw;
  margin: 0 auto;
  max-width: 1500px;
}

.my_skills_neg_mar {
  margin: -13px;
}

.flex {
  display: flex;
}

.my_skills div article {
  text-align: left;
  margin: 1%;
  padding: 3% 2%;
  background-color: var(--white);
  width: 31%;
  border: 1px solid var(--orange);
  border-radius: 10px;
}

.my_skills h2 {
  padding: 100px 0 50px 0;
  text-align: left;
}

.my_skills h3 {
  font-size: 20px;
}

.skill_headline {
  display: inline-flex;
}

.skill_headline div {
  margin: 5px;
}

.skill_headline div i {
  color: var(--dblue);
}

/* my latest projects */

.my_latest_projects .pc_none {
  display: none;
}

.my_latest_projects h2 {
  padding: 100px 0 50px 0;
  text-align: left;
}

.my_latest_projects h3 {
  margin: 7% 0;
}

section.my_latest_projects {
  width: 86vw;
  max-width: 1500px;
  margin: 0 auto;
}

.project_information {
  width: 31%;
  margin: 0 2% 0 0;
  padding: 2% 3%;
  border: 1px solid var(--orange);
  border-radius: 10px;
  flex: 1;
}

.project_information p {
  margin: 5% 0;
}


.project_img {
  width: 100%;
}

.project_img img {
  width: 100%;
  margin: 5% 0;
}


/* case buttons */

.case_btn {
  margin-top: 7%;
}

.case_btn a {
  display: block;
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(141, 58, 58, 0.25);
  font-size: 15px;
  padding: 12px 10px;
  margin: 12px 0;
  border-radius: 5px;
}
.all_projects_btn {
  margin: 75px auto 0 auto;
  text-align: center;
}

a.project_website {
  color: var(--orange);
  background-color: white;
  border: 1px solid var(--orange);
}

.all_projects_btn a {
  background-color: var(--orange);
  color: var(--white);
  box-shadow: 0px 4px 8px rgba(141, 58, 58, 0.25);
  text-transform: uppercase;
  font-size: 22px;
  padding: 7px 15px;
  border-radius: 5px;
}

.case_btn a:hover,
.all_projects_btn a:hover {
  background: var(--lblue);
  transition: 0.5s;
  transition: all 0.5s ease;
}

a.project_website:hover {
  background-color: white;
  transition: 0.5s;
  transition: all 0.5s ease;
}

/* footer */

.footer {
  text-align: center;
  height: 60px;
  padding: 18px 0;
  margin-top: 75px;
  background-color: var(--lblue);
  color: var(--white);
}

/* projects page */

.projects_page section.my_latest_projects {
  width: 90%;
  margin: 0 auto;
  max-width: unset;
}

.projects_page .project_information {
  margin: 0 0 2% 0;
  padding: 0 1% 1% 1%;
  border: 1px solid var(--orange);
  border-radius: 10px;
  display: inline-block;
  width: 24%;
}

.projects_page .nav_space {
  width: 90%;
}

.projects_page main .flex{
display: unset;
}

/* projects process PAGE */
/* hero */
.projects_process_details .hero_image img {
  margin: 1vw 0% 0 10%;
  padding: 0% 0% 0 0;
  width: 80%;
}

.loop_process_page .hero_image img {
  margin: 8vw 0 0 10%;
}

.projects_process_details .hero h1 {
  padding-top: 8vw;
  width: 75%;
}

.projects_process_details section.hero {
  height: unset;
}

/* projects process main */
.projects_process_details .about_me {
  width: 86vw;
  margin: 0 auto;
  max-width: unset;
}

.projects_process_details .about_me h2 {
  margin-top: 60px;
}

/* my role */
.projects_process_details .my_roles h2 {
  margin: 0;
}

.toggleproject {
  color: var(--white);
  cursor: pointer;
  padding: 20px;
  margin: 7px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  background-color: var(--orange);
  border-radius: 15px;
  text-transform: uppercase;
  box-shadow: 0px 4px 8px rgba(141, 141, 141, 0.527);
  
}

.toggleproject_active, 
.toggleproject:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--orange);
  border-radius: 15px;
}

.answer_box {
  padding: 0 2vw;
  background-color: var(--white);
  margin: 0 0 0.5vw 1vw;
  border-radius: 25px 0 0 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
  text-align: left;

}

.answer_box p {
  padding: 1vw 0;
}

.toggleproject:after {
  content: '\002B';
  color: var(--white);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.toggleproject_active:after {
  content: "\2212";
  color: var(--black);
}

.right_side .answer_box {
  border-radius: 0 25px 20px 0;
}

.projects_process_details .answer_box img {
  max-height: 800px;
  padding: 20px;
  max-width: 100%;
}

/* gray buttons for unfinished process page*/
.case_btn a.gray_btn {
  background-color: var(--gray_bg2);
  cursor: not-allowed;
  color: white;
  border: unset;
}

.case_btn a.gray_btn:hover {
  background-color: var(--gray_bg2);
  cursor: not-allowed;
}

@media (min-width: 1800px) {
  
  /* navigation */

  .nav_space {
    width: 75%;
  }

  /* hero*/
  .hero p,
  .hero h1,
  .hero .hr1 {
    width: 50%;
    margin: 3% auto;
  }

  .hero .hr1 {
      margin: 5% auto;
  }

  .hero h1 {
      padding-top: 8vw;
      font-size: 50px;
  }

  .hero_buttons_container {
    margin-top: 5%;
    width: 50%;
    margin: 3% auto;
    text-align: center;
  }


  .hero .hero_buttons_container {
      margin: 5% auto;
  }

  .hero_image img {
    margin: 8vw 0 0 20%;
    padding: 0% 0% 0 0;
    width: 60%;
  }

  /* projects page */
  .projects_page section.my_latest_projects {
    width: 75%;
    max-width: 1750px;
    margin: 0 auto;
}

  .projects_page .nav_space {
    width: 75%;
    max-width: 1750px;
  }

.projects_page main .flex {
  display: unset;
}

/* projects details PAGE  */
/* hero */
.projects_process_details .hero_image img {
  margin: 2vw 0 0 15%;
  padding: 0% 0% 0 0;
  width: 75%;
}

.loop_process_page .hero_image img {
  margin: 10vw 0 0 15%;
}

.projects_process_details .hero h1 {
  width: 50%;
}

.projects_process_details .about_me {
  width: 75%;
  max-width: unset;
}

/* gray buttons for unfinished process page*/
.case_btn a.gray_btn {
  background-color: var(--gray_bg2);
  cursor: not-allowed;
  color: white;
  border: unset;
}

.case_btn a.gray_btn:hover {
  background-color: var(--gray_bg2);
  cursor: not-allowed;
}

}

@media (min-width: 768px) and (max-width: 1200px) {
  /* this applies for all pages */
  body h1 {
    font-size: 30px;
  }
  body h2 {
    font-size: 26px;
  }
  body h3 {
    font-size: 20px;
  }
  body p {
    font-size: 16px;
    line-height: 20px;
  }
  body header ul,
  body footer ul {
    font-size: 18px;
  }
  body a {
    font-size: 15px;
  }

  /* Scroll none on mobile devices */
  ::-webkit-scrollbar {
    display: none;
  }
  /* Arrow none on mobiles */
  .arrow-wrapper {
    display: none;
  }

  /* mobile none*/
  .mobile_none {
    display: inline-block;
  }
  .pc_none {
    display: none;
  }
  /* navigation */
  
  .flex.nav_space {
    justify-content: space-between;
    width: 86vw;
    margin: 0 auto;
  }

  header nav ul li ul {
    min-width: 180px;
  }

  header nav ul li ul a {
    font-size: 12px;
  }

  /* hero */

  section.hero {
      height: unset;
  }

  header .flex {
    width: 100%;
  }

  header .flex section {
    width: 50%;
  }

  .hero_image img {
    margin: 25% 0% 0 0;
  }

  .hero h1 {
    padding-top: 10vw;
  }

  .hero p {
    font-size: 24px;
    line-height: 26px;
  }

  .hero_buttons_container .button_hero {
    width: 100%;
  }

  .hero .hero_buttons_container {
    margin-top: 8%;
    width: 50%;
  }

  .hero_buttons_container.flex {
    display: block;
  }

  .hero_buttons_container .button_hero {
    border: 1px solid var(--orange);
    text-align: center;
    margin-top: 5%;
  }

  .download_cv_button a {
    background-color: var(--orange);
    color: white;
  }

  .download_cv_button {
    padding: 2% 14.5%;
  }

  .see_my_projects_button {
    padding: 2% 10%;
  }

    /* hero buttons */

    .hero_buttons_container {
        width: 100%;
    }

    .hero .hero_buttons_container {
        width: 60%;
        margin: 0 auto;
    }

    .button_hero {
        background-color: var(--orange);
        border-radius: 5px;
        padding: 2% 3%;
        box-shadow: 0px 4px 8px rgba(141, 141, 141, 0.527);
    }

    .button_hero2 {
        background-color: var(--white);
        border: 1px solid var(--orange);
    }

    .download_cv_button {
        background-color: unset;
        box-shadow: none;
        color: var(--white);
        border: none;
        padding: 0%;
    }
    
    .see_my_projects_button {
        background-color: unset;
        box-shadow: none;
        color: var(--orange);
        border: none;
        padding: 0%;
    }

  /* my skills */

  .my_skills .flex {
    display: block;
  }

  .my_skills div article {
    text-align: left;
    padding: 2% 2%;
    background-color: var(--gray_bg);
    width: 75%;
    margin: 3% auto;
    border-radius: 10px;
  }

  /* my projects */
  .my_latest_projects .pc_none {
    display: inline-block;
  }

  .my_latest_projects .flex {
    display: inline;
  }
  .project_information {
    display: inline-block;
  }
  .project_information {
    width: 40%;
    margin: 0 6% 3% 2%;
  }

  /* projects page */

.projects_page section.my_latest_projects {
  width: 95%;
  margin: 0 auto;
  max-width: unset;
}

.projects_page .nav_space {
  width: 95%;
}

.projects_page .project_information {
  margin: 0 0 2% 0;
  padding: 0 1% 1% 1%;
  border: 1px solid var(--orange);
  border-radius: 10px;
  display: inline-block;
  width: 32%;
}

.projects_page main .flex{
display: unset;
}

/* project process PAGE */
/* hero */
.projects_process_details .hero_image img {
  margin: 6vw 0% 0 10%;
  width: 80%;
}

.loop_process_page .hero_image img {
  margin: 9vw 0 0 10%;
}

/* gray buttons for unfinished process page*/
.case_btn a.gray_btn {
  background-color: var(--gray_bg2);
  cursor: not-allowed;
  color: white;
  border: unset;
}

.case_btn a.gray_btn:hover {
  background-color: var(--gray_bg2);
  cursor: not-allowed;
}

}



@media (max-width: 767px) {
  /* THIS APPLIES FOR ALL PAGES */
  body h1 {
    font-size: 30px;
    line-height: 40px;
  }
  body h2 {
    font-size: 24px;
  }
  body h3 {
    font-size: 20px;
  }
  body p {
    font-size: 13px;
    line-height: 18px;
  }
  body header ul,
  body footer ul {
    font-size: 18px;
  }
  body a {
    font-size: 15px;
  }

  .mobile_none {
    display: none;
  }

  .my_skills h2, .skill_headline h3, .about_me h2, .about_me h3, .my_latest_projects h2, .my_latest_projects h3 {
      text-align: center;
  }

  /* Scroll none on mobile devices */
  ::-webkit-scrollbar {
    display: none;
  }
  /* Arrow none on mobiles */
  .arrow-wrapper {
    display: none;
  }
  /* no hover effect on mobiles*/
  header nav  ul  li  a:hover {
    background-color: unset;
}

/* mobile none*/

.mobile_none {
  display: none;
}
.pc_none {
  display: block;
}

header nav ul li ul li a:hover {
    background-color: unset;
}

.cv_btn_hover:hover {
    background-color:unset;
}
.case_btn a:hover,
.all_projects_btn a:hover {
background: unset;
}

a.project_website:hover {
background-color: unset;
}


  /*navigation */
  header nav {
		width: 100vw;
		height: 100vh;
		position: fixed;
		z-index: 100;
		transform: translateX(100%);
		transition: transform .3s ease-out;
	}
	
	header nav.active {
		transform: translateX(0);
	}

	header nav ul {
		width: 100vw;
	}
	header nav ul li,
	header nav ul li a {
		display: block;
	}

	header nav ul li a {
		padding: 2vw 0 2vw 4vw;
	}

	header nav ul li ul,
	header nav ul li ul li,
	header nav ul li ul li a {
		width: 100vw;
	}

	header nav ul li ul {
		position: relative;
	}

	header nav ul li ul li a {
		padding: 2vw 0 2vw 8vw;
  }
  
  .btn {
    background-color: var(--white);
  }

  .btn2 {
    background-color: var(--dblue);
  }
  
  .btn i {
    color: var(--dblue);
  }

  .btn2 i {
    color: var(--white);
  }

	#menuButtonWrapper {
		position: fixed;
		width: 100vw;
		display: block;
    text-align: right;
    top: 0;
	}

	#menuButtonWrapper a {
		margin:20px;
    line-height: unset;
  }
  
  #menuCloseButtonWrapper a {
    margin: 20px;
}
	
	#menuCloseButtonWrapper {
		display: block;
		text-align: right;
  }
  
  .logodiv {
    display: none;
  }

  /* hero */
  .hero {
      margin-top: 0;
  }

  .hero h1 {
    padding-top: 60px;
  }

  .hero p {
    font-size: 24px;
    line-height: 24px;
  }

  header .flex {
      display: block;
  }

  header .flex section {
      width: 100%;
  }

  .hero h1, .hero hr, .hero p, .hero .hero_buttons_container {
    margin: 0 auto;
}

.projects_process_details .hero p {
  margin: 5% auto;
}

.hero hr {
    margin: 2% auto;
}

section.hero {
  height: unset;
}

.hero_image img {
  width: 75%;
  margin: 0 auto;
  display: block;
}


 /* hero buttons */

 .hero_buttons_container {
    width: 100%;
}

.hero .hero_buttons_container {
    width: 60%;
    margin: 0 auto;
}

.button_hero {
    background-color: var(--orange);
    border-radius: 5px;
    padding: 2% 3%;
}

.button_hero2 {
    background-color: var(--white);
    border: 1px solid var(--orange);
}

/* hero buttons */

.hero_buttons_container {
    width: 100%;
}

.hero .hero_buttons_container {
    width: 60%;
    margin: 0 auto;
}

.button_hero {
    background-color: var(--orange);
    box-shadow: 0px 4px 8px rgba(141, 141, 141, 0.527);
    border-radius: 5px;
    padding: 2% 3%;
}

.button_hero2 {
    background-color: var(--white);
    border: 1px solid var(--orange);
}

.hero_buttons_container .button_hero {
    width: 100%;
    text-align: center;
    margin: 8% 0;
}

.download_cv_button {
    background-color: unset;
    box-shadow: none;
    color: var(--white);
    border: none;
    padding: 0%;
    text-align: center;
}

.see_my_projects_button {
    background-color: unset;
    box-shadow: none;
    color: var(--orange);
    text-align: center;
    border: none;
    padding: 0%;
}


/* about me */
.about_me_intro, .about_me_intro_two {
    padding: 8% 4% 4% 4%;
}

.about_me .info_list {
    padding: 5% 3% 5% 3%;
    font-size: 14px;
}

.about_me_social_icon {
    text-align: center;
}

.about_me_social_icon .fa-3x {
  font-size: 2.2em;
}



  /* my skills */

  .my_skills .flex {
    display: block;
  }

  .my_skills h3 {
    font-size: 14px;
  }

  .my_skills div article {
    text-align: left;
    padding: 2% 2%;
    background-color: var(--gray_bg);
    width: 75%;
    margin: 3% auto;
    border-radius: 10px;
  }

  /* my projects*/

  .my_latest_projects .flex {
    display: block;
  }

  .project_information {
    width: 85%;
    padding: 2% 3%;
    border: 1px solid var(--orange);
    border-radius: 10px;
    margin: 0 auto 5% auto;
  }

  .case_btn a {
    padding: 7px 8px;
    margin: 9px 0;
    font-size: 11px;
  }

  .all_projects_btn a {
    font-size: 16px;
  }


  /* footer */

  footer p {
      font-size: 10px;
  }



  /* projects page*/
  .projects_page .project_information {
    display: block;
    width: 100%;
}

.projects_page section.my_latest_projects {
  width: 85%;
}

.projects_page .my_latest_projects h2 {
  margin-top: 0;
}

.projects_page .nav_space {
  width: 85%;
}

/* gray buttons for unfinished process page*/
.case_btn a.gray_btn {
  background-color: var(--gray_bg2);
  cursor: not-allowed;
  color: white;
  border: unset;
}

.case_btn a.gray_btn:hover {
  background-color: var(--gray_bg2);
  cursor: not-allowed;
}
}
